@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
body{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Work Sans", sans-serif;
    background-color: black;
}
@theme{
    --color-purple-50: #EFE6FD;
}