@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
body{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Work Sans", sans-serif;
    background-color: black;
}
@theme{
    --color-purple-50: #EFE6FD;
}

/* Add these button styles */
.btn-glow {
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-glow:hover {
  transform: translateY(-1px);
  box-shadow: 0 0 15px rgba(129, 51, 241, 0.5);
}

.btn-glow-blue:hover {
  box-shadow: 0 0 15px rgba(27, 130, 232, 0.5);
}

.btn-glow-white:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}